<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it666.water_sampling.dao.UserMapper">
    <!--public User loginByName(String username, String password);-->
    <select id="loginByName" resultType="com.it666.water_sampling.bean.User">
        select * from tbl_user where user_name=#{username} and password = #{password} and deleted = 0
    </select>
   <!-- public User loginByQrcode(String userId);-->
    <select id="loginByQrcode" resultType="com.it666.water_sampling.bean.User">
        select * from tbl_user where user_id = #{userId} and deleted = 0
    </select>

    <!--void updateUserByUserId(User user);-->
    <update id="updateUserById">
        update tbl_user set user_id = #{userId},user_name = #{userName},password=#{password} where id = #{id}
    </update>

    <!--void deleteEmployeeById(String userId);-->
    <delete id="deleteEmployeeById">
        update tbl_user set deleted = 1 where user_id = #{userId}
    </delete>
</mapper>